*.a
*.obj
*.exe
*.user
*.autosave
build*/
build*/
xpam/debug/
xpam/release/
xpam/updates/dota/
xpam/updates/update*
xpam/updates/zip_archives/
xpam/updates/client/
xpam/updates/w3/
*.pdb
